apiVersion: apps/v1
kind: Deployment
metadata:
  name: playing-products
  labels:
    app: playing-products
spec:
  replicas: 1
  selector:
    matchLabels:
      app: playing-products
  template:
    metadata:
      labels:
        app: playing-products
    spec:
      containers:
        - name: playing-products
          image: kalatunga/playing-products
          resources:
            requests:
              memory: "600Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
          imagePullPolicy: Always
          ports:
            - containerPort: 9000
          env:
            - name: P_MYSQL_URL
              valueFrom:
                configMapKeyRef:
                  name: mysql-configmap-products
                  key: database_url
            - name: P_MYSQL_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: mysql-configmap-products
                  key: database_user
            - name: P_MYSQL_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: mysql-configmap-products
                  key: database_password
      volumes:
        - name: mysql-persistence-storage
          persistentVolumeClaim:
            claimName: db-mysql-pvc-products
